<div class="col-md-12">
    <div class="page-people-directory" id="main-container">
        <div class="row">
            <div class="col-md-9">
                <div class="well">
                    <div class="row">
                        <form >
                            <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" 
                                ngModel name="key" id="searchName" placeholder="Search people" class="form-control" required>
                        </form>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h3>All Contacts</h3>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-green btn-raised btn-add-new-contact"><span
                                class="icon-plus" data-toggle="modal" data-target="#modal-pull-right-add"> Add New
                                Contact</span></button>
                    </div>
                </div>

                <div class="list-group contact-group">
                    <a href="#" class="list-group-item">
                        <div *ngFor="let employee of employees" class="media">
                            <div class="pull-left">
                                <img class="rounded-circle" src="{{employee?.imageUrl}}" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"> {{employee?.name}} <small> {{employee?.jobTitle}}</small>
                                </h4>
                                <div class="media-content">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-mobile"></i> {{employee?.phone}} </li>
                                        <li><i class="fa fa-envelope-o"></i> {{employee?.email}} </li>
                                    </ul>
                                </div>
                                <div class="float-right btn-group btn-group-sm">
                                    <a class="btn btn-primary tooltips" data-placement="top" (click) ="onOpenModal(employee, 'edit')" data-original-title="Edit"> <i class="fa fa-pencil"></i> </a>
                                    <a class="btn btn-secondary tooltips" data-placement="top" (click) ="onOpenModal(employee, 'delete')" data-original-title="Delete"> <i class="fa fa-times"></i> </a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- DELETE DIALOG -->
        <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Contact</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to delete the contact {{deleteEmployee?.name}}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" (click)="onDeleteEmployee(deleteEmployee?.id)" data-dismiss="modal" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CREATE DIALOG -->
        <div class="modal modal-pull-right" data-easein="fadeInRight" data-easeout="fadeOutRight"
            id="modal-pull-right-add" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content animated fadeOutRight">
                    <div class="modal-body">
                        <div class="row modal-close">
                            <div class="col-md-12 padding-bottom-8 padding-top-8 bg-silver">
                                <h4 class="pull-left"><b>Create New Contact</b></h4>
                                <ul class="list-unstyled list-inline text-right">
                                    <li class="close-right-modal"><span class="fa fa-times fa-2x"
                                            data-dismiss="modal"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact-add-content">
                                    <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)" class="form-horizontal tabular-form margin-top-10">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="name" placeholder="Full Name" ngModel name="name" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="email" placeholder="Email" ngModel name="email" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="col-sm-2 control-label">Phone</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="phone" placeholder="Phone" ngModel name="phone" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Job Title</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="name" placeholder="Job Title" ngModel name="jobTitle" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Image Url</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="imageUrl" placeholder="Image Url" ngModel name="imageUrl" required>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button type="button" data-dismiss="modal" class="btn btn-silver btn-flat" id="close-add-dialog">Cancel</button>
                                            <button type="submit" [disabled]="addForm.invalid" class="btn btn-green btn-flat">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT DIALOG -->
        <div class="modal modal-pull-right" data-easein="fadeInRight" data-easeout="fadeOutRight"
            id="modal-pull-right-edit" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content animated fadeOutRight">
                    <div class="modal-body">
                        <div class="row modal-close">
                            <div class="col-md-12 padding-bottom-8 padding-top-8 bg-silver">
                                <h4 class="pull-left"><b>Edit the contact</b></h4>
                                <ul class="list-unstyled list-inline text-right">
                                    <li class="close-right-modal"><span class="fa fa-times fa-2x"
                                            data-dismiss="modal"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact-add-content">
                                    <form #editForm="ngForm" class="form-horizontal tabular-form margin-top-10">
                                        
                                        <input type="hidden" name="id" ngModel="{{editEmployee?.id}}" class ="form-control" id="id">
                                        <input type="hidden" name="employeeCode" ngModel="{{editEmployee?.employeeCode}}" class ="form-control" id="employeeCode">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="name" placeholder="Full Name" name="name" ngModel="{{editEmployee?.name}}" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="email" placeholder="Email" name="email" ngModel="{{editEmployee?.email}}" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone" class="col-sm-2 control-label">Phone</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone" ngModel="{{editEmployee?.phone}}" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Job Title</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="name" placeholder="Job Title" name="jobTitle" ngModel="{{editEmployee?.jobTitle}}" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Image Url</label>
                                            <div class="col-sm-10 tabular-border">
                                                <input type="text" class="form-control" id="imageUrl" placeholder="Image Url" name="imageUrl" ngModel="{{editEmployee?.imageUrl}}" >
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <button type="button" data-dismiss="modal" class="btn btn-silver btn-flat">Cancel</button>
                                            <button type="submit" (click)="onUpdateEmployee(editForm.value)" class="btn btn-green btn-flat">Save Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>